.footer_container {
  width: 100%;
  margin-top: 2rem;
  padding: 1.2rem 1rem;
  display: grid;
  grid-template-columns: minmax(0, 300px)  1fr minmax(5rem, 450px);
  grid-template-rows: 200px 100px;
  gap: 25px;

  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > div {
      width: 100%;
      flex: 1;
      justify-content: center;
    }
  }

  > .contain_logo {
    align-self: flex-start;
  }

  .content_topic {
    display: flex;
    justify-content: space-between;
  }
}

.send_notification {
  display: flex;
  flex-direction: column;

  > span {
    font: 600 1.2rem Lato, sans-serif;
    color: var(--blue-700);
  }

  > section {
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
    gap: 5px;

    > input {
      width: 100%;
      height: 2rem;
      padding: 0 0.5rem;
      font-size: 0.9rem;
      border: 1px solid var(--gray-300);
      border-radius: 0.3rem;
    }

    > button {
      border: none;
      background: var(--green-900);
      padding: 0 0.8rem;
      border-radius: 0.3rem;
    }
  }
  > section + section {
    margin-top: 1rem;
    div {
      background: var(--green-900);
      width: 40px;
      height: 40px;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: center;
      transition: filter 0.2s ease-in;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
