.inputConstainer {
  width: 100%;
  display: flex;
  flex-direction: column;

  > label {
    font-size: 1.1rem;
    font-family: Poppins, sans-serif;
    margin-bottom: 0.4rem;
  }

  > section {
    flex: 1;
    > input {
      width: 100%;
      height: 2.4rem;
      padding: 0 0.5rem 0 0.5rem;
      font-size: 0.9rem;
      outline: none;
      border: 1px solid var(--gray-300);
      border-radius: 0.4rem;
      transition: 0.1s all ease;
    }

    > input:focus {
      border: 2px solid var(--blue-500);
    }
  }
  > span {
    font-family: Poppins, sans-serif;
    font-size: 0.9rem;
    color: var(--red-500);
  }
}

.inputInvalid {
  border: 1px solid var(--red-500) !important;
}

#with_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: relative;

  input {
    padding: 0 0.5rem 0 2.8rem;
  }

  > svg {
    width: 40px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    height: 100%;
    padding: 0 0.5rem;
    border-right: 1px solid var(--gray-300);
  }
}
