#dropdownItem {
  max-width: 35rem;
  width: 18rem;
  background: var(--white) !important;
  border-radius: 0.3rem !important;
  box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 70px;
  transform: translateX(-50%);
  z-index: 20;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding: 1rem 1.2rem !important;
  animation: slide-down 0.3s ease-in-out;

  > button {
    width: 100%;
    height: 2.5rem;
    background: var(--green-300);
    border-radius: 0.4rem;
    font-size: 1.1rem;

    border: none;
    margin: 1rem 0;

    color: var(--white);

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.93);
    }
  }

  > div {
    width: 100%;
    cursor: pointer;
    height: 3rem;
    border-radius: 0.4rem;
    transition: background 0.2s;
    text-align: center;
    color: var(--blue-700);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0.5rem;
    text-align: center;

    font: 400 1rem Poppins, sans-serif;

    & + div {
      margin-top: 0.5rem;
    }

    > span {
      margin-left: 0.6rem;
    }
    &:hover {
      background: rgba(132, 243, 184, 0.137);
    }
  }
}

@keyframes slide-down {
  0% {
    transform: translate(-50%, -10%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
