.container-header {
  position: fixed;
  top: 0;
  z-index: 100000;
  right: 0;
  left: 0;
  background: var(--background);
  width: 100%;
}
header {
  max-width: 75rem;
  margin: 0 auto;
  height: 4.6rem;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

header img {
  cursor: pointer;
}

header .active {
  width: 21px;
  height: 21px;
}

.menu-open {
  display: none;
  position: absolute;
  left: 0;
  z-index: 4000;
  width: 100%;
  height: calc(100% - 4.6rem);
  background: var(--background);
}
