.container-header {
  position: fixed;
  top: 0;
  z-index: 100000;
  right: 0;
  left: 0;
  background: var(--background);
  width: 100%;
}
header {
  max-width: 75rem;
  margin: 0 auto;
  height: 4.6rem;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

header img {
  cursor: pointer;
}

header .active {
  width: 21px;
  height: 21px;
}

.menu-open {
  display: none;
  position: absolute;
  left: 0;
  z-index: 2000;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: calc(100% - 4.6rem);
  background: var(--background);
}

.menu-open nav {
  max-width: calc(100% - 10rem);
  margin: 0 auto;
  text-align: center;
}
.menu-open nav li {
  list-style: none;
  font-family: "KoHo", sans-serif;
  width: 100%;
  padding: 0.7rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background 0.2s;
  font-size: x-large;
}

.menu-open nav li:hover {
  background: rgb(235, 235, 235);
}

.menu-open nav li + li {
  margin-top: 1.5rem;
}
