.dropzone_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dropzone {
  width: 30rem;
  border: 2px dashed var(--gray-300);
  height: 10rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;

  > h3 {
    margin: 0.5rem 0;
  }
  > span {
    color: var(--black-smooth);
    font: 500 0.9rem Poppins, sans-serif;
  }
}

.drop_accept {
  border: 2px dashed var(--green-400);
}

.drop_invalid {
  border: 2px dashed var(--red-500);
}

.file_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  gap: 10px;

  > div {
    width: 100%;
    background: var(--white-alpha);
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: 60px 1fr 35px;
    border-radius: 0.6rem;
    align-items: center;
    gap: 15px;

    > img {
      width: 50px;
      height: 50px;
      border-radius: 0.4rem;
      object-fit: cover;
    }

    > section {
      display: flex;
      flex-direction: column;

      > span {
        font: 400 0.85rem Poppins, sans-serif;
        max-width: 18rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: var(--gray-700);
      }
    }

    > div {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      cursor: pointer;
      background: #69696913;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: filter 0.2s ease-in;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
