.headerContainer {
  width: 100%;
  height: 4rem;

  padding: 0 1rem;
  background: #f8f7f7;
  margin: 0 auto;
  border-bottom: 1px solid var(--gray-300);
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;

  > header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    gap: 10px;

    > div {
      img {
        max-width: 10rem;
      }
    }
  }
}

.contain_logo {
  cursor: pointer;
}

.navContainer {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  > .userInfo {
    width: 137.72px;
    display: flex;
    border-radius: 0.4rem;
    align-items: center;
    font-family: Lato, sans-serif;
    font-size: 1.2rem;
    background: var(--background-imobe);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: rgba(202, 201, 201, 0.342);
    }

    > section {
      display: flex;
      align-items: center;
      padding: 0 0.3rem;
      color: var(--blue-700);
      > img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        margin-left: 0.5rem;
        font-size: 1.075rem;
        width: 60px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
