.dashboard {
  display: flex;
}

.dashboardContainer {
  flex: 1;
  padding: 0 0 0 1rem;
  > header {
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      display: flex;
      align-items: center;
      gap: 25px;
      > span {
        padding: 0.5em 1rem;
        border-radius: 0.4rem;
        background: var(--white);
        font: 500 1rem Lato, sans-serif;
        color: var(--black-smooth);
        > svg {
          margin-right: 0.5rem;
        }
      }
      > img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #49e299;
        display: flex;
        color: #f5f5f5;
        font-size: 1.1rem;
        align-items: center;
        object-fit: cover;
        justify-content: center;
        font-weight: 600;
        font-family: Lato, sans-serif;
        transition: filter 0.2s;
        cursor: pointer;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }
  }
}

.post_list_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0.5rem 1rem;
  width: 100%;
  > h3 {
    font-weight: 500;

    a {
      color: var(--orange-400);
      transition: filter 0.2s;
    }

    a:hover {
      filter: brightness(0.8);
    }
  }
  .post_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    > div {
      padding: 0.5rem 1rem;
      border: 1px solid var(--gray-200);
      border-radius: 0.4rem;
      width: 27rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      background: var(--white);
      gap: 10px;

      > div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        > span {
          font-family: Poppins, sans-serif;
          color: var(--black-smooth);
          transition: filter 0.3s;
          max-width: 12rem;
        }

        > p {
          font: 500 1rem Lato, sans-serif;
          color: var(--gray-700);
        }
      }

      > img {
        width: 55px;
        height: 55px;
        border-radius: 0.6rem;
        object-fit: cover;
      }
    }
  }
}

.post {
  margin-top: 2rem;

  > section {
    display: grid;
    grid-template-columns: 1fr 17rem 10rem 10rem 18rem;
    font-family: Poppins, sans-serif;
    padding: 0.4rem 0.8rem;
    transition: filter 0.3s;
    border-bottom: 1px solid var(--gray-200);

    > span {
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--black-smooth);
      line-height: 2;
      font-family: Lato, sans-serif;
    }
  }
}
