.dashboard {
  display: flex;
}

.dashboardContainer {
  flex: 1;
  padding: 0 0 0 1rem;

  > header {
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      display: flex;
      align-items: center;
      gap: 25px;
      > span {
        padding: 0.5em 1rem;
        border-radius: 0.4rem;
        background: var(--white);
        font: 500 1rem Lato, sans-serif;
        color: var(--black-smooth);
        > svg {
          margin-right: 0.5rem;
        }
      }

      > img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #49e299;
        display: flex;
        color: #f5f5f5;
        font-size: 1.1rem;
        align-items: center;
        object-fit: cover;
        justify-content: center;
        font-weight: 600;
        font-family: Lato, sans-serif;
        transition: filter 0.2s;
        cursor: pointer;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }
  }
}

.post_list_container {
  max-width: 80rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 0.5rem 1rem;
  width: 100%;
  > h3 {
    font-weight: 500;

    a {
      color: var(--orange-400);
      transition: filter 0.2s;
    }

    a:hover {
      filter: brightness(0.8);
    }
  }
  .post_list {
    flex: 1;
    display: flex;
    flex-direction: column;

    gap: 20px;

    > div {
      max-width: 60rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      > div + div {
        margin-top: 0.8rem;
      }
    }

}

  .publish {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--white);
    height: 120px;
    gap: 10px;

    > img {
      width: 100px;
      height: 100px;
      border-radius: 0.6rem;
      object-fit: cover;
    }

    > .publish_info {
      flex: 1;
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;

      > div {
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
       > span {
         font-family: Poppins, sans-serif;
         font-size: 1.257rem;
         color: var(--black-smooth);
         transition: filter 0.3s;
         max-width: 12rem;
       }

       > p {
         margin: 0.4rem 0 0.8rem 0;
         font: 600 1rem Lato, sans-serif;
         color: var(--gray-700);
       }

       > small {
         ;
         font: 400 0.8rem Lato, sans-serif;
         color: var(--gray-700);
       }
     }

     > button {
       background: var(--green-900);
       width: 60px;
       height: 60px;
       border: none;
       border-radius: 0.4rem;
       transition: filter 0.2s;

       &:hover {
         filter: brightness(0.8);
       }
     }
    }
  }
}

.content_options {
  width: 100%;
  flex: 1;
  display: flex;
  gap: 10px;

  > button, section {
    border: none;
    height: 11rem;
    border-radius: 0.4rem;
  }

  > button{
    overflow: hidden;
      width: 35rem;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform  0.4s;

      &:hover {
        transform:  scale(1.03);
      }

    }
  }

  > section {
    width: 100%;
    background: linear-gradient(270deg, var(--white) 50%, var(--blue-300-alpha) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2rem;

    > h2 {
      color: var(--black-smooth);
      width: 400px;
    }

    > button {
      width: 60px;
      height: 60px;
      border-radius: 0.6rem;
      border: none;
      background: var(--green-900);
      transition: transform  0.4s;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}


.post {
  margin-top: 2rem;

  > section {
    display: grid;
    grid-template-columns: 1fr 17rem 10rem 10rem 18rem;
    font-family: Poppins, sans-serif;
    padding: 0.4rem 0.8rem;
    transition: filter 0.3s;
    border-bottom: 1px solid var(--gray-200);

    > span {
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--black-smooth);
      line-height: 2;
      font-family: Lato, sans-serif;
    }
  }
}
