.dashboard {
  display: flex;
}

.dashboardContainer {
  flex: 1;
  padding: 0 0 0 1rem;
  > header {
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      > img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #49e299;
        display: flex;
        color: #f5f5f5;
        font-size: 1.1rem;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-family: Lato, sans-serif;
        transition: filter 0.2s;
        cursor: pointer;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }
  }
}

.postList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4rem 1fr 1rem;
  gap: 15px;
  height: calc(100vh - 10rem);

  > h1 {
    margin: 1rem 0;
    grid-column: 1 / 4;
  }

  > div {
    grid-column: 1 / 4;
    overflow-y: auto;

    > section {
      display: grid;
      grid-template-columns: 1fr 17rem 10rem 10rem 18rem;
      font-family: Poppins, sans-serif;
      padding: 0.4rem 0.8rem;
      transition: filter 0.3s;
      border-bottom: 1px solid var(--gray-300);
    }
  }
}

.post {
  margin-top: 2rem;

  > section {
    display: grid;
    grid-template-columns: 1fr 17rem 10rem 10rem 18rem;
    font-family: Poppins, sans-serif;
    padding: 0.4rem 0.8rem;
    transition: filter 0.3s;
    border-bottom: 1px solid var(--gray-200);

    > span {
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--black-smooth);
      line-height: 2;
      font-family: Lato, sans-serif;
    }
  }
}
